## Assessment Criteria:

The homework will be assessed based on the following criteria:
   - **Homework_2_part1 (40%)** - All questions inside this part have the same weight.
   - **Homework_2_part2 (60%)** - All questions inside this part have the same weight.

## Context
Download the dataset from the following link: 

https://archive.ics.uci.edu/ml/datasets/student+performance

You are given student achievement dataset in secondary education of two Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Two datasets are provided regarding the performance in two distinct subjects: Mathematics (mat) and Portuguese language (por). You are expected to work with **Mathematics** only.

#### Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:
- school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
- sex - student's sex (binary: 'F' - female or 'M' - male)
- age - student's age (numeric: from 15 to 22)
- address - student's home address type (binary: 'U' - urban or 'R' - rural)
- famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
- Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
- Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education)
- Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education)
- Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
- guardian - student's guardian (nominal: 'mother', 'father' or 'other')
- traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
- studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
- failures - number of past class failures (numeric: n if 1<=n<3, else 4)
- schoolsup - extra educational support (binary: yes or no)
- famsup - family educational support (binary: yes or no)
- paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
- activities - extra-curricular activities (binary: yes or no)
- nursery - attended nursery school (binary: yes or no)
- higher - wants to take higher education (binary: yes or no)
- internet - Internet access at home (binary: yes or no)
- romantic - with a romantic relationship (binary: yes or no)
- famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
- freetime - free time after school (numeric: from 1 - very low to 5 - very high)
- goout - going out with friends (numeric: from 1 - very low to 5 - very high)
- Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
- Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
- health - current health status (numeric: from 1 - very bad to 5 - very good)
- absences - number of school absences (numeric: from 0 to 93)

#### These grades are related with the course subject, Math or Portuguese:
- G1 - first period grade (numeric: from 0 to 20)
- G2 - second period grade (numeric: from 0 to 20)
- G3 - final grade (numeric: from 0 to 20, output target)

In [1]:
import pandas as pd
import numpy as np

In [2]:
students = pd.read_csv("student-mat.csv", sep=";")

In [3]:
students.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Select students whose fathers have higer education and family size more than 3 persons

In [5]:
# your code here

students[(students['Fedu'] == 4) & (students["famsize"] == 'GT3')]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,GP,M,18,U,GT3,T,4,4,teacher,services,...,4,3,3,2,2,2,0,10,10,0
356,MS,F,17,R,GT3,T,4,4,teacher,services,...,4,3,3,1,2,5,4,12,13,13
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,10,14,12,11
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6

### Find the avarage final grade of all students with romantic relationships

In [15]:
# your code here
# students who have romantic relationship
student_romantic_relationships=students[students['romantic']=='yes']
# avg grade
avg_fin_grade=student_romantic_relationships['G3'].mean()
avg_fin_grade

9.575757575757576

### Find the avarage grade of students who study less than 2 hours in a week

In [28]:
# your code here

# There is one problem in question. We should find average grade of what? First period, second period, or final grade?
# I believe it is for final grade so I only apply 'G3'

# students who study less than 2 hours in a week
s2=students[students['studytime']==1]
# avg grade
s2_avg=s2['G3'].mean()
s2_avg

10.047619047619047

### Then fing the avarage grade of students who studies more than 10 hours in a week and compare them

In [29]:
# your code here
s3=students[students['studytime']==4]
s3_avg=s3['G3'].mean()
s3_avg

11.25925925925926

In [32]:
s3_avg-s2_avg
# We see that students who studies more than 10 hours in a week get almost 1.2 point more in average

1.211640211640212

### What is the probabilty of student having romantic relationship if his/her parents live apart?

In [42]:
# your code here

# Students whose family live apart
s4=students[students['Pstatus']=='A']
s4

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
37,GP,M,16,R,GT3,A,4,4,other,teacher,...,2,4,3,1,1,5,7,15,16,15
45,GP,F,15,U,LE3,A,4,3,other,other,...,5,2,2,1,1,5,8,8,8,6
46,GP,F,16,U,LE3,A,3,3,other,services,...,2,3,5,1,4,3,12,11,12,11
52,GP,M,15,U,LE3,A,4,2,health,health,...,5,5,5,3,4,5,6,11,11,10
54,GP,F,15,U,LE3,A,3,3,other,other,...,5,3,4,4,4,1,6,10,13,13
55,GP,F,16,U,GT3,A,2,1,other,other,...,5,3,4,1,1,2,8,8,9,10
56,GP,F,15,U,GT3,A,4,3,services,services,...,4,3,2,1,1,1,0,14,15,15
66,GP,M,15,U,GT3,A,4,4,other,services,...,1,3,3,5,5,3,4,13,13,12
89,GP,M,16,U,LE3,A,4,4,teacher,health,...,4,1,3,3,5,5,18,8,6,7
104,GP,M,15,U,GT3,A,3,4,services,other,...,5,4,4,1,1,1,0,16,18,18
105,GP,F,15,U,GT3,A,3,3,other,health,...,4,3,3,1,1,4,10,10,11,11
110,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,5,5,3,1,1,4,6,18,19,19
126,GP,F,15,U,LE3,A,3,4,other,other,...,5,3,2,1,1,1,0,7,10,11
133,GP,F,16,U,GT3,A,3,4,services,other,...,3,2,1,1,4,5,16,12,11,11
137,GP,F,16,U,GT3,A,3,3,other,other,...,4,3,2,1,1,5,0,4,0,0
149,GP,M,15,U,LE3,A,2,1,services,other,...,4,5,5,2,5,5,0,8,9,10
188,GP,F,17,U,GT3,A,3,3,health,other,...,3,3,3,1,3,3,6,8,7,9
206,GP,F,16,U,GT3,A,3,1,services,other,...,2,3,3,2,2,4,5,7,7,7
212,GP,F,16,U,GT3,A,2,2,other,other,...,3,3,4,1,1,4,0,12,13,14
229,GP,F,17,U,GT3,A,2,1,other,other,...,3,2,3,1,2,3,10,12,10,12
241,GP,M,17,R,LE3,A,4,4,teacher,other,...,3,3,3,2,3,4,2,10,11,12
257,GP,M,19,U,LE3,A,4,3,services,at_home,...,4,3,1,1,1,1,12,11,11,11
265,GP,M,18,R,LE3,A,3,4,other,other,...,4,2,5,3,4,1,13,17,17,17
276,GP,F,18,R,GT3,A,3,2,other,services,...,4,1,1,1,1,5,75,10,9,9
280,GP,M,17,U,LE3,A,4,1,services,other,...,4,5,4,2,4,5,30,8,8,8
281,GP,M,17,U,LE3,A,3,2,teacher,services,...,4,4,4,3,4,3,19,11,9,10
289,GP,M,18,U,LE3,A,4,4,teacher,teacher,...,5,4,3,1,1,2,9,15,13,15
300,GP,F,18,U,LE3,A,4,4,health,other,...,4,2,4,1,1,4,14,12,10,11
306,GP,M,20,U,GT3,A,3,2,services,other,...,5,5,3,1,1,5,0,17,18,18
320,GP,F,17,U,GT3,A,4,3,services,services,...,5,2,2,1,2,5,23,13,13,13
336,GP,F,19,R,GT3,A,3,1,services,at_home,...,5,4,3,1,2,5,12,14,13,13
339,GP,F,17,R,GT3,A,3,2,other,other,...,4,3,3,2,3,2,4,9,10,10
343,GP,F,17,U,GT3,A,2,2,at_home,at_home,...,3,3,1,1,2,4,0,9,8,0
357,MS,F,17,U,LE3,A,3,2,services,other,...,1,2,3,1,2,5,2,12,12,11
360,MS,F,18,R,LE3,A,1,4,at_home,other,...,4,3,4,1,4,5,0,13,13,13
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9

In [44]:
# 41 students family lives apart
num=s4.shape[0]
num

41

In [41]:
# your code here

# Students whose family lives apart and have romantic relationship
s5=s4[s4['romantic']=='yes']
s5

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
37,GP,M,16,R,GT3,A,4,4,other,teacher,...,2,4,3,1,1,5,7,15,16,15
45,GP,F,15,U,LE3,A,4,3,other,other,...,5,2,2,1,1,5,8,8,8,6
55,GP,F,16,U,GT3,A,2,1,other,other,...,5,3,4,1,1,2,8,8,9,10
66,GP,M,15,U,GT3,A,4,4,other,services,...,1,3,3,5,5,3,4,13,13,12
126,GP,F,15,U,LE3,A,3,4,other,other,...,5,3,2,1,1,1,0,7,10,11
137,GP,F,16,U,GT3,A,3,3,other,other,...,4,3,2,1,1,5,0,4,0,0
188,GP,F,17,U,GT3,A,3,3,health,other,...,3,3,3,1,3,3,6,8,7,9
229,GP,F,17,U,GT3,A,2,1,other,other,...,3,2,3,1,2,3,10,12,10,12
276,GP,F,18,R,GT3,A,3,2,other,services,...,4,1,1,1,1,5,75,10,9,9
280,GP,M,17,U,LE3,A,4,1,services,other,...,4,5,4,2,4,5,30,8,8,8
300,GP,F,18,U,LE3,A,4,4,health,other,...,4,2,4,1,1,4,14,12,10,11
320,GP,F,17,U,GT3,A,4,3,services,services,...,5,2,2,1,2,5,23,13,13,13
343,GP,F,17,U,GT3,A,2,2,at_home,at_home,...,3,3,1,1,2,4,0,9,8,0
357,MS,F,17,U,LE3,A,3,2,services,other,...,1,2,3,1,2,5,2,12,12,11
360,MS,F,18,R,LE3,A,1,4,at_home,other,...,4,3,4,1,4,5,0,13,13,13

In [45]:
# number of students whose family lives apart and have romantic relationship
num_rom=s5.shape[0]
num_rom

16

In [50]:
# your code here

# probabilty of student having romantic relationship if his/her parents live apart

num_rom*100/num

39.02439024390244

In [ ]:
# your code here

In [ ]:
# your code here